{% extends 'base.html.twig' %}

{% block title %}Symfonic Fest{% endblock %}

{% block body %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> #}

    {% block header %}

        {% block navbar %}
            {{ parent() }}
        {% endblock %}

    {% endblock %}


<div class="container mx-auto pt-20">
    <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <!-- Image -->
        <img class="w-full h-64 object-cover" src="{{ asset('uploads/' ~ bandRegister.imgFileName) }}" alt="{{ bandRegister.bandName }}">

        <div class="p-6">
            <!-- Band Name -->
            <h1 class="text-3xl font-bold text-gray-800 mb-4">{{ bandRegister.bandName }} - {{bandRegister.musicGenreId.genreName}}</h1>

            <!-- Scene, Time, Day -->
            <div class="flex flex-col md:flex-row md:justify-between md:items-center mb-4">
                <div class="mb-2 md:mb-0">
                    <span class="text-sm font-semibold text-gray-500">Scene:</span>
                    <span class="text-lg text-gray-800">{{ progDay.scene.sceneName }}</span>
                </div>
                <div class="mb-2 md:mb-0">
                    <span class="text-sm font-semibold text-gray-500">Time:</span>
                    <span class="text-lg text-gray-800">{{ progDay.hour|date("H:i") }}</span>
                </div>
                <div>
                    <span class="text-sm font-semibold text-gray-500">Day:</span>
                    <span class="text-lg text-gray-800">{{ progDay.days.day }}</span>
                </div>
            </div>

            <!-- Description -->
            <p class="text-gray-700 mb-6">{{ bandRegister.description }}</p>

    
        </div>
    </div>
</div>
{% endblock %}
